{% extends 'client/navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Update account </h3>
        <p>Puedes editar tu perfil abajo: </p>

        <br>

        <form autocomplete="off" method="post">

            {% csrf_token %}

            {{UpdateUserForm|crispy}}

            <input class="btn btn-success w-100" type="submit" value="Update details"/>
            
        </form>
    </div>



    <br>

<!-- Browse subscription plans -->

    {% if SubscriptionID %}

<!-- IF there is a subscriptionID then display no subscription plan (link) -->

    {% else %}

        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5>browse subscription plans</h5>

            <hr>

            <a href="{% url 'subscription-plans' %}" class="btn btn-success" type="button">Subscription plans</a>


        </div>
    {% endif %}
    <br>
    <!-- Cancel/Delete subscription -->

    {% if  SubscriptionID %}
        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5>Cancel your subscription</h5>

            <hr>
            <p>Permanently delete your subscription by clicking the button below:</p>
            <br>
            <a href="{% url 'delete-subscription' SubscriptionID %}" class="btn btn-danger" id="deleteButton" type="button">Cancel subscription</a>
            
            <!-- SubscriptionID es la llave que pasamos en el contexto con el valor es aquel que se paso dinamicamente como subID en la URL-->

        </div>

        <br>

        <!-- Update/revisar la subscripcion -->


        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5>Update your subscription</h5>

            <hr>
            <p>Upgrade or downdrage your subscription by clicking the button below:</p>
            <br>
            <a href="{% url 'update-subscription' SubscriptionID %}" class="btn btn-info" id="updateButton" type="button">Update subscription</a>
            
            <!-- SubscriptionID es la llave que pasamos en el contexto con el valor es aquel que se paso dinamicamente como subID en la URL-->

        </div>

        <br>









    {% else %}

        <!-- Display nothing if there is no valid subscription ID -->




    {% endif %}

        <!-- ELIMINAR CUENTA -->
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Borrar cuenta</h3>
        <a type="button" class="btn btn-danger" href="{% url 'delete-account-client' %}">Borrar</a>
    </div>


    <br>

    <!-- SCRIPTS -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Jquery -->
    <script>

        // Cambiar el texto del boton "delete" cuando es clickeado 
        $(document).ready(function (){

            $("#deleteButton").on("click", function (){

                 $(this).text("Processing...");

            });


        }) 

        // Cambiar el texto del boton "update" cuando es clickeado 
        $(document).ready(function (){

            $("#updateButton").on("click", function (){

                $(this).text("Processing...");

            });


        }) 

    </script>
{% endblock %}
