body{
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.form-layout{
    width: 550px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}



/* SUSCRIPTION-PLANS.HTML */
