<!-- password management -->
<!-- paso 3 -->

{% extends 'account/base-password-management.html' %}
{% block content %}
<br>
<br>
<div class="container bg-white shadow-md p-4 form-layout">
    <h3> Escribe tu nueva contraseña </h3>

    <p>
        Escribe tu nueva contraseña y verifica que este escrita correctamente
    </p>
    
    <form action="" method="POST">
    
        {% csrf_token %}
    
        {{form}}
    
        <input type="submit" name="Update password" id="">
    
    </form>
</div>
{% endblock %}

