<!-- password management -->
<!-- 1 -->

{% extends 'account/base-password-management.html' %}

{% block content %}
<br>
<br>
<div class="container bg-white shadow-md p-4 form-layout">
    <h3>Password reset</h3>
    <p>
        Olvidaste tu constraseña?
        Por favor introduce tu email y sigue las instrucciones para crear una nueva
    </p>

    <form class="form" action="" method="POST">

        {% csrf_token %}

        {{form}}

        <br>

        <input class="btn btn-success" type="submit"name="Send email">

    </form>
</div>
{% endblock %}

    
    