{% load crispy_forms_tags %}
<html>

    <head>
        <title>Register</title>
    
        {% load static %}
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">


        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <br>
    <div class="container bg-white shadow-md p-4 form-layout">

        <h1>REGISTER</h1>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{RegisterForm|crispy}}

            <input class="btn btn-success w-100" type="submit" value="Register"/>

            <p>Do you already have an account?</p>

            <a  href="{% url 'my_login' %}">Login</a>

            

        </form>
    </div>
    <br>
</html>

